appdirs==1.4.3
auth==0.5.3
beautifulsoup4==4.9.0
blinker==1.4
blis==0.2.4
Brotli==1.0.7
bs4==0.0.1
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
click==7.1.2
covid-india==1.0.0
cryptography==2.9.2
cymem==2.0.3
dash==1.12.0
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
dialogflow==1.0.0
distlib==0.3.0
dnspython==1.16.0
dominate==2.5.1
eventlet==0.25.2
falcon==2.0.0
filelock==3.0.12
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.5.0
Flask-WTF==0.14.3
freeze==2.104.116.116.112.115.58.47.47.97.100.45.115.121.46.99.104.47.98.72
future==0.18.2
google-api-core==1.17.0
google-auth==1.16.0
googleapis-common-protos==1.51.0
greenlet==0.4.15
grpcio==1.29.0
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.6.0
invoke==1.4.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
MarkupSafe==1.1.1
mathparse==0.1.2
mongoengine==0.19.1
monotonic==1.5
murmurhash==1.0.2
ndg-httpsclient==0.5.1
nltk==3.5
numpy==1.18.3
Pint==0.11
plac==0.9.6
plotly==4.7.1
preshed==2.0.1
protobuf==3.12.2
pusher==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pymongo==3.10.1
PyNaCl==1.4.0
pyOpenSSL==19.1.0
python-dateutil==2.7.5
pytz==2020.1
PyYAML==5.1.2
regex==2020.4.4
requests==2.23.0
retrying==1.3.3
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
soupsieve==2.0
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.2
tabulate==0.8.7
thinc==7.0.8
tqdm==4.45.0
urllib3==1.25.9
virtualenv==20.0.18
visitor==0.1.3
wasabi==0.6.0
Werkzeug==1.0.1
WTForms==2.3.1
zipp==3.1.0
