<!doctype html>
<html>
<head>
<style>

#back{
	width:150px;
	height:45px;
	padding-top:10px;
	border:2px solid #123456;
}

#back:hover{
	background:#ccffff;
}

a{
	text-decoration:none;
}

</style>
 
</head>

<div class="jumbotron text-center">
  <center><h1 class="display-3">Thank You!</h1></center>
  <center><p class="lead"><strong>Your request has been received.</strong> </p></center>
  <hr>
  <p>
    <center>We will contact you as soon as possible.</center>
  </p><br>
  <p class="lead">
    <center><button type="button" id="back" class="btn btn-warning"><a href="/" role="button">Back to home page</a><center>
  </p>
</div>

</html>